body {
  font-family: sans-serif;
  background-color: #309900;
  margin: 0;
  padding: 0;
}

canvas#view {
  width: 100%;
  height: 100%;
}

div#controls {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  background: rgba(255, 255,255, 0.5);
  border-radius: 5px;
}
div#controls input, div#controls label {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

div#controls label {
  font-size: 12px;
  line-height: 1em;
  margin-right: 10px;
}

